################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/CienciaDatos/FileContentIndex
/.vs/CienciaDatos
